$include /etc/inputrc
set show-all-if-ambiguous on
set visible-stats on

# Return gentoo style PgUp/PgDown behaviour
"\e[5~": history-search-backward
"\e[6~": history-search-forward

$if Bash

# Bind grep substring in all files to F3
"\eOR": "\C-agrep -nr \"\C-e\" *"

# Bind grep substring in C/C++ files to F4
"\eOS": "\C-agrep -nr --include=*.{c,h,cc,hh,icc,tcc,hxx,cpp,hpp} \"\C-e\" *"

# Bind grep substring in list of running processes to F7
"\e[18~": "\C-aps ax | grep -v grep | grep "\C-e\"\n"

# Bind search substring via dict F8
"\e[19~": "\C-adict "\C-e\"\n"

# Bind `cd ..` to Crtl-Up
"\e[1;5A": "\C-a\C-kcd ..\n"

$endif

