ACTION=="add", KERNEL=="sd?1", SUBSYSTEMS=="usb", ATTRS{serial}=="113902001109", SYMLINK+="kingston", RUN+="/home/dgoncharov/bin/mvphoto.sh /dev/kingston"
ACTION=="add", KERNEL=="sd?1", SUBSYSTEMS=="usb", ATTRS{serial}=="B2000000000000000000000246B90D00", SYMLINK+="camcorder", RUN+="/home/dgoncharov/bin/mvphoto.sh /dev/camcorder"
ACTION=="add", KERNEL=="sd?1", SUBSYSTEMS=="usb", ATTRS{serial}=="A400000000045841", SYMLINK+="corsair"
ACTION=="add", KERNEL=="sd?1", SUBSYSTEMS=="usb", ATTRS{serial}=="A2E095709", SYMLINK+="kronverk"
ACTION=="add", KERNEL=="sd?1", SUBSYSTEMS=="usb", ATTRS{serial}=="57442D575842314132304537363039", SYMLINK+="wdusbdrive"
SUBSYSTEMS=="usb", ATTRS{serial}=="C5OKCT071554", SYMLINK+="asus"
