$include /etc/inputrc
set show-all-if-ambiguous on
set visible-stats on

# Return gentoo style PgUp/PgDown behaviour
"\e[5~": history-search-backward
"\e[6~": history-search-forward

$if Bash

# Bind `cd ..` to F3
"\eOR": "\C-a\C-kcd ..\n"

# Bind grep substring in C/C++ files to F4
"\eOS": "\C-agrep -nr --include=*.{c,h,cc,hh,icc,tcc,hxx,cpp,hpp,py,ac,am,inl,mk} --exclude= \"\C-e\" *"

# Bind grep substring in list of running processes to F7
"\e[18~": "\C-aps -ef | grep -v grep | egrep "\C-e|PID\"\n"

$endif

